<div class="title">
  <h1>Ver Mascota</h1>
</div>

<div class="container">
  <mat-card class="card">
    <mat-card-title>Mascoto</mat-card-title>
    <mat-card-content>
      <p><strong>Raza:</strong> Labrador</p>
      <p><strong>Color:</strong> Verde</p>
      <p><strong>Peso:</strong> 15 Kgs</p>
      <p><strong>Edad:</strong> 6</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button routerLink="/listMascotas">Volver</button>
    </mat-card-actions>
  </mat-card>
</div>
